.ma-20 {
    margin: 20px;
}

.display-flex {
    display: flex;
    margin: 0
}

.flex-1 {
    flex: 1
}

.stars-container {
    margin: 0
}

.stars-container .rating-star.rating-star-outline::before {
    color: #bdbdbd;
    content: 'star_border'
}

.stars-container .rating-star.rating-star-full::before {
    color: #f57c00;
    content: 'star'
}